{% extends 'RajkaranPortfolioBundle::base.html.twig' %}

{% block title %}{% endblock %}



{% block body %}
	<body class="{{bodyCss}}" data-ng-app = "portfolio" data-ng-controller="appCtrl" >

		{% block page %}{% endblock %}

		<!-- Footer -->
		<footer class="navbar navbar-default {{footerCss}}">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-6">
						<div class="navbar-text ">
							<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
							<span>rajkaran.chauhan07@gmail.com</span>
						</div>
					</div>

					<div class="col-sm-6">
						<ul class="nav navbar-nav navbar-right social-networking">
							<li>
								<a href="http://ca.linkedin.com/pub/raj-karan/36/982/b36">
									<span class="fa fa-linkedin"  style="font-size:24px"></span>
								</a>
							</li>
							<li>
								<a href="https://github.com/rajkaran">
									<span class="fa fa-github" style="font-size:24px"></span>
								</a>
							</li>
							<li>
								<a href="https://plus.google.com/+RajkaranChauhan/posts">
									<span class="fa fa-google-plus" style="font-size:24px"></span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>

{% endblock %}
