<section> <article>{{message}}</article> </section>

<section>
    <p><strong>Name : </strong>{{name }}</p>
    <p>
        <strong>From : </strong>
        <a href="mailto:{{from}}">{{from}}</a>
    </p>
</section>
